<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.offcn"/>
    <context:property-placeholder location="classpath:properties/sms.properties"/>

    <bean class="org.apache.activemq.ActiveMQConnectionFactory" id="activeMQConnectionFactory">
        <property name="brokerURL" value="${activemq.broker-url}"/>
    </bean>
    <bean class="org.springframework.jms.connection.SingleConnectionFactory" id="connectionFactory">
        <property name="targetConnectionFactory" ref="activeMQConnectionFactory"/>
    </bean>
    <bean class="org.springframework.jms.core.JmsTemplate" id="jmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
    </bean>
    <bean class="org.apache.activemq.command.ActiveMQQueue" id="activeMQQueue">
        <constructor-arg value="youlexuan_queue_sms"/>
    </bean>

    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="messageListener" ref="smsListener"/>
        <property name="destination" ref="activeMQQueue"/>
    </bean>

</beans>